<a href="https://colab.research.google.com/github/andercreep1001/Aprendendo_python_no_G_colab/blob/main/Aprendendo_python_no_google_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Variáveis

In [ ]:
nome = "anderson"
print(nome)
nomeCompleto = "anderson desterro"
print(nomeCompleto.upper()) #.upper texto em caixa alta
print(nomeCompleto.lower()) #.lower testo em caixa baixa
print(nomeCompleto.title()) #.title deixa a primeira letra maiuscula

anderson
ANDERSON DESTERRO
anderson desterro
Anderson Desterro

In [ ]:
nome = "anderson"
sobrenome = "desterro"
nomeCompleto = f"{nome} {sobrenome}" #concatenando dos strings
print(nomeCompleto)
print(nomeCompleto.title())

anderson desterro
Anderson Desterro

In [ ]:
nomeTodo = "{} {}".format(nome, sobrenome)
print(nomeTodo)
print("\t", nome) # adicionado tabulçao
print("casa\napaertamento\npousada") #adicionando nova linha con \n
print("\n\nPaís:\n\tBrasil\n\tArgentina\n\tEUA")

anderson desterro
	 anderson
casa
apaertamento
pousada


País:
	Brasil
	Argentina
	EUA

In [ ]:
nome = 'texto'
nome.rsplit()
nome.rstrip()

'texto'

----------------------------------------------------------------------
**Numeros**

In [ ]:
num = 3+9
print(num)

num2 = 3-9
print(num2)

num3 = 3*9
print(num3)

num4 = 3/9
print(num4)

12
-6
27
0.3333333333333333

----------------------------------------------------------------------
Listas
----------------------------------------------------------------------

In [ ]:
times = ['Palmeiras', 'M. City', 'R. Madrid', 'Liverpol', 'PSG']
print(times)
print("chave 2 =", times[2])
print("chave 4 =", times[4])

['Palmeiras', 'M. City', 'R. Madrid', 'Liverpol', 'PSG']
chave 2 = R. Madrid
chave 4 = PSG

In [ ]:
print(times[0].title())
print(times[0].upper())
print(times[0].lower())

Palmeiras
PALMEIRAS
palmeiras

In [ ]:
print(times[-1]) #mostra o ultimo item da lista

print(f"Meu time do coração é o {times[0].title()}")

PSG
Meu time do coração é o Palmeiras

In [ ]:
carros = ['Polo', 'Argo', 'Onix', 'HB20']
marcas = ['fiat', 'VW', 'Hyundai', 'Chevrolet']

print(f"Quero comprar um {marcas[0]} {carros[1]}")
print(f"Mas meu sonho é {marcas[1]} {carros[0]} ou o {marcas[3]} {carros[2]}")

Quero comprar um fiat Argo
Mas meu sonho é VW Polo ou o Chevrolet Onix

In [ ]:
motos = ['Yamaha', 'honda', 'suzuki']
print(motos)

['Yamaha', 'honda', 'suzuki']

In [ ]:
motos[0] = 'ducati'
print(motos)

['ducati', 'honda', 'suzuki']

In [ ]:
motos.append('honda') #adicionado item na lista
print(motos)

['ducati', 'honda', 'suzuki', 'honda']

In [ ]:
alfabeto = []

alfabeto.append('a')
alfabeto.append('b')
alfabeto.append('c')
alfabeto.append('d')

print(alfabeto)

['a', 'b', 'c', 'd']

In [ ]:
alfabeto.insert(4, 'e')
alfabeto.insert(5, 'f')
alfabeto.insert(6, 'g')
alfabeto.insert(-1, 'h')
print(alfabeto)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'e', 'f', 'h', 'g']

In [ ]:
del alfabeto[-1]
del alfabeto[0]
print(alfabeto)

['b', 'c', 'd', 'e', 'f', 'g', 'e', 'f']

In [ ]:
alfabeto.pop() #remove o ultimo item da lista
print(alfabeto)

['b', 'c', 'd', 'e', 'f', 'g', 'e']

----------------------------------------------------------------------
**Loops**

In [8]:
magicos = ['alice', 'david', 'carolina']
for magica in magicos:
  print(magica)
  print(f"{magica.title()} fez um ótimo truque\n")

print("\tfora do lopping for")

alice
Alice fez um ótimo truque

david
David fez um ótimo truque

carolina
Carolina fez um ótimo truque

	fora do lopping for

In [15]:
pizzas = ['4 queijos', 'mussarela', 'peperoni']
for pizza in pizzas:
  print(pizza.upper())
  print(f"Eu gosto muito desse sabor {pizza}\n")

print(f"{pizzas[0]}, {pizzas[1]}, {pizzas[2]}")

4 QUEIJOS
Eu gosto muito desse sabor 4 queijos

MUSSARELA
Eu gosto muito desse sabor mussarela

PEPERONI
Eu gosto muito desse sabor peperoni

4 queijos, mussarela, peperoni

In [20]:
for valor in range(1, 5):
  print(valor)

1
2
3
4

In [23]:
valor = list(range(1,5))
print(valor)

par = list(range(2,11,2))
print(par)

[1, 2, 3, 4]
[2, 4, 6, 8, 10]

In [24]:
quadrados = []
for valor in range(1,11):
  quadrado = valor ** 2
  quadrados.append(quadrado)

print(quadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [30]:
numeros = [0,1,2,3,4,5,6,7,8,9]
print(f"menor {min(numeros)}")
print(f"maior {max(numeros)}")
print(f"soma {sum(numeros)}")

menor 0
maior 9
soma 45