<a href="https://colab.research.google.com/github/andercreep1001/Aprendendo_python_no_G_colab/blob/main/Aprendendo_python_no_google_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Variáveis

In [4]:
nome = "anderson"
print(nome)
nomeCompleto = "anderson desterro"
print(nomeCompleto.upper()) #.upper texto em caixa alta
print(nomeCompleto.lower()) #.lower testo em caixa baixa
print(nomeCompleto.title()) #.title deixa a primeira letra maiuscula

anderson
ANDERSON DESTERRO
anderson desterro
Anderson Desterro

In [6]:
nome = "anderson"
sobrenome = "desterro"
nomeCompleto = f"{nome} {sobrenome}" #concatenando dos strings
print(nomeCompleto)
print(nomeCompleto.title())

anderson desterro
Anderson Desterro

In [14]:
nomeTodo = "{} {}".format(nome, sobrenome)
print(nomeTodo)
print("\t", nome) # adicionado tabulçao
print("casa\napaertamento\npousada") #adicionando nova linha con \n
print("\n\nPaís:\n\tBrasil\n\tArgentina\n\tEUA")

anderson desterro
	 anderson
casa
apaertamento
pousada


País:
	Brasil
	Argentina
	EUA

In [17]:
nome = 'texto'
nome.rsplit()
nome.rstrip()

'texto'

----------------------------------------------------------------------
Numeros

In [21]:
num = 3+9
print(num)

num2 = 3-9
print(num2)

num3 = 3*9
print(num3)

num4 = 3/9
print(num4)

12
-6
27
0.3333333333333333

----------------------------------------------------------------------
Listas
----------------------------------------------------------------------

In [29]:
times = ['Palmeiras', 'M. City', 'R. Madrid', 'Liverpol', 'PSG']
print(times)
print("chave 2 =", times[2])
print("chave 4 =", times[4])

['Palmeiras', 'M. City', 'R. Madrid', 'Liverpol', 'PSG']
chave 2 = R. Madrid
chave 4 = PSG

In [32]:
print(times[0].title())
print(times[0].upper())
print(times[0].lower())

Palmeiras
PALMEIRAS
palmeiras